<div class="container" *ngIf="mostrarHome">
  <po-select
    class="po-md-6"
    name="select"
    (p-change)="definirRota($event)"
    p-label="Selecionar componente"
    [p-options]="rotas"
  >
  </po-select>

  <po-button
      class="po-md-6"
      p-label="Avançar"
      (p-click)="navegar()"
    >
  </po-button>

</div>

<div class="po-row" *ngIf="!mostrarHome">
  <div class="container-voltar">
    <po-button
      p-label="Voltar"
      (p-click)="voltar()"
    >
    </po-button>
  </div>
</div>



<router-outlet></router-outlet>
